.end-page {
  font-family: "Cousine", monospace;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 200px;
}
.end-page-text1 {
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  margin: 10px;
  position: relative;

  p {
    text-decoration: none;
    color: #2c292d;
    padding: 10px;
    border: 2px solid #2c292d;
    font-size: 2vw;
    background-color: #fdf9f3;
  }
}
.end-page-text2 {
  font-size: 2.2vw;
  font-style: italic;
  margin: 10px;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: center;
}
.links {
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2c292d;
    margin: 10px 20px;
    transition: 0.5s;
    width: 140px;
  }
}
svg {
  width: 40px;
  margin-right: 10px;
  color: #2c292d;
}
.links {
  a {
    &:hover {
      transform: translatey(10px);
      transition: 0.5s;
    }
  }
}

@media (max-width: 700px) {
  .end-page-text1 {
    font-size: 35px;
  }
  .end-page-text2 {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .end-page-text1 {
    font-size: 50px;
  }
  .end-page-text2 {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .end-page {
    border-top: none;
  }
}

@media (max-width: 550px) {
  .end-page {
    flex-wrap: wrap;
  }
}
