.end-page {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 200px;
}
.end-page-text1 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  position: relative;

  p {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    font-size: 2vw;
    background-color: #fdf9f3;
  }
}
.end-page-text2 {
  font-size: 24px;
  font-style: italic;
  margin: 10px;
  text-align: center;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
}
.links {
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    margin: 10px 20px;
    transition: 0.5s;
    width: 140px;
  }
}
svg {
  width: 40px;
  margin-right: 10px;
  color: #000000;
}

@media (max-width: 400px) {
  .end-page {
    border-top: none;
  }
}

@media (max-width: 550px) {
  .end-page {
    flex-wrap: wrap;
  }
}
