section {
  padding: 15px;
  background-color: #f3efeb;

  width: 310px;
  height: 300px;

  margin: 20px;
  border: 2px solid #2c292d;
  text-transform: uppercase;

  .section--country-name {
    background-color: #ffd866;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    margin: 0;
  }
}
