section {
  padding: 15px;
  background-color: #f3efeb;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 290px;
  height: 380px;

  margin: 20px;
  border: 2px solid #000000;
  text-transform: uppercase;
  transition: 0.5s;

  .section--country-name {
    background-color: #00673f;
    color: #fff;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  &:hover {
    transform: translatey(10px);
    transition: 0.5s;
  }

  img {
    height: 57px;
  }
  .wrapper__title__flag {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
