.card__countrys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding-bottom: 40px;
}

.data__global {
  padding: 15px;
  background-color: #f3efeb;
  border-radius: 10px;

  width: 290px;
  min-width: 290px;
  height: 350px;

  margin: 20px;
  border: 2px solid #000000;
  transition: 0.5s;

  &:hover {
    transform: translatey(10px);
    transition: 0.5s;
  }

  img {
    height: 57px;
    border-radius: 50%;
    margin-right: 30px;
  }
}

.data__global__title {
  background-color: #9b2424;
  color: #fff;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  margin: 0;
}

.wrapper__title__flag {
  display: flex;
  justify-content: space-between;
}
