* {
  font-family: "Cousine", monospace;
}

section {
  margin: 30px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

h3 {
  display: block;
  text-align: center;
  width: 140px;
  background-color: #ffd866;
  padding: 0.75rem 1.5rem;
  color: #2c292d;
}

@media (max-width: 500px) {
  section {
    align-items: center;
  }
}
