<div class="wrapper">
  <section>
    <div class="section__head">
      <h3 class="enphasi">COVID-19</h3>

      <span><p>#Se possível, fique em casa</p></span>
    </div>
    <p>
      O primeiro caso da pandemia pelo novo coronavírus,<b> SARS-CoV2</b>, foi
      identificado em Wuhan, na China, no
      <b>dia 31 de dezembro do último ano</b>. Desde então, os casos começaram a
      se espalhar rapidamente pelo mundo: primeiro pelo continente asiático, e
      depois por outros países.
    </p>
    <br />
    <p>
      <b>O Brasil e seus vizinhos também foram atingidos pelo vírus</b>, com
      milhões de mortes e de infectados. <em>Nossos Vizinhos</em> traz dados
      atualizados sobre a COVID-19 no Brasil e paises que fazem fronteira com
      ele:
      <b
        >Argentina, Bolívia, Colômbia, Guiana, Paraguai, Peru, Suriname, Uruguai
        e Venezuela</b
      >.
    </p>
  </section>
</div>
