* {
  font-family: "Roboto", sans-serif;
}

section {
  margin: 40px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;

  .section__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    span {
      font-style: italic;
      display: flex;
      align-items: center;
      height: 63px;
      align-content: center;

      p {
        margin: 10px;
        color: rgb(255, 0, 0);
      }
    }
  }
}

h3 {
  margin: 0;
  text-align: center;
  width: 140px;
  background-color: #00673f;
  padding: 0.75rem 1.5rem;
  color: #ffffff;
}

@media (max-width: 450px) {
  section {
    margin: 40px 5px;
  }
}

@media (max-width: 590px) {
  section {
    .section__head {
      span {
        height: 33px;
        p {
          margin: 0 10px;
          margin-top: 20px;
        }
      }
    }
  }
}
