/* You can add global styles to this file, and also import other style files */
html,
body {
  box-sizing: border-box;
}

html {
  width: 100%;
}
body {
  margin: 0;
  background-color: #fdf9f3;
  font-family: "Cousine", monospace;
  font-weight: normal;
  line-height: 1.65;
  padding: 0.75rem 0.75rem;
  margin: 0;
  color: #2c292d;
  width: 100%;
  min-width: 350px;

  position: relative;

  &::before {
    content: "";
    top: 0.75rem;
    left: 0.75rem;
    right: 0.75rem;
    bottom: 0.75rem;
    border: 2px solid #2c292d;
    position: absolute;
    z-index: -1;
  }
}

@media (max-width: 400px) {
  body::before {
    border: 0;
  }
}
@media (max-width: 700px) {
  // body {
  //   font-size: 13px;
  // }
}
